dataweave-examples/src/main/mule/dwl-plusplus-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dwl-plusplus-exampleFlow" doc:id="b869ef5d-0c93-47a4-b387-534e0d097469" >
		<http:listener doc:name="Listener" doc:id="bbd4f4f6-9bf5-4d8e-9f99-5c2925ff5fb5" config-ref="HTTP_Listener_config" path="/plusplus"/>
		<choice doc:name="Choice" doc:id="8e5023ff-7cfd-4431-bcee-c83750fcf4d3" >
			<when expression="#[attributes.headers.Accept == 'application/xml']">
				<ee:transform doc:name="Transform Message_XML" doc:id="144ae52d-7dc6-4567-9f39-267411de3200" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
  "concatArray" : [0, 1, 2] ++ ["a", "b", "c"],
  "concatArray2" : [0, 1, true, "my string"] ++ [2, [3,4,5], {"a": 6}],
  "concatString" : "Mule" ++ "Soft",
  "concatObject" : {aa: "a", bb: "b"} ++ {cc: "c"},
  "LocalDateTime" : (|2017-10-01| ++ |23:57:59|),
  "LocalTimeDate" : (|23:57:59| ++ |2003-10-01|),
  "DateTime" : |2017-10-01| ++ |23:57:59-03:00|,
  "DateTime2" : |2017-10-01| ++ |23:57:59Z|,
  "TimeDate1" : (|23:57:59| as Time) ++ |2017-10-01|,
  "TimeDate2" : |23:57:59Z| ++ |2017-10-01|,
  "TimeDate3" : |23:57:59+02:00| ++ |2017-10-01|,
  "DateTimeZone" : (|2017-10-01| ++ |-03:00|),
  "TimeDateZone" : |-03:00| ++ |2017-10-01|,
  "LocalTimeDateTimeZone" : (|2003-10-01T23:57:59| ++ |-03:00|),
  "TimeZoneLocalTimeDate" : (|-03:00| ++ |2003-10-01T23:57:59|),
  "LocalTimeTimeZone" : (|23:57| ++ |-03:00|),
  "TimeZoneLocalTime" : (|-03:00| ++ |23:57|)
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="9143c01b-67b2-497a-a227-719a5676dc6a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "concatArray" : [0, 1, 2] ++ ["a", "b", "c"],
  "concatArray2" : [0, 1, true, "my string"] ++ [2, [3,4,5], {"a": 6}],
  "concatString" : "Mule" ++ "Soft",
  "concatObject" : {aa: "a", bb: "b"} ++ {cc: "c"},
  "LocalDateTime" : (|2017-10-01| ++ |23:57:59|),
  "LocalTimeDate" : (|23:57:59| ++ |2003-10-01|),
  "DateTime" : |2017-10-01| ++ |23:57:59-03:00|,
  "DateTime2" : |2017-10-01| ++ |23:57:59Z|,
  "TimeDate1" : (|23:57:59| as Time) ++ |2017-10-01|,
  "TimeDate2" : |23:57:59Z| ++ |2017-10-01|,
  "TimeDate3" : |23:57:59+02:00| ++ |2017-10-01|,
  "DateTimeZone" : (|2017-10-01| ++ |-03:00|),
  "TimeDateZone" : |-03:00| ++ |2017-10-01|,
  "LocalTimeDateTimeZone" : (|2003-10-01T23:57:59| ++ |-03:00|),
  "TimeZoneLocalTimeDate" : (|-03:00| ++ |2003-10-01T23:57:59|),
  "LocalTimeTimeZone" : (|23:57| ++ |-03:00|),
  "TimeZoneLocalTime" : (|-03:00| ++ |23:57|)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
